{%extends 'platilla.html'%}

{%block body%}
    
 <center>
  
    <h1 class="display-4 text-center mt-1 mb-1 text-secondary">Actualizar Album</h1>
    
<div class="container-sm"> <!--Contrainer-->
    <div class="col-md-5"> <!--Columna 5-->
        <div class="card card-body"> <!--Card-->
            <form action="/actualizar/{{album.0}}" method="POST">
                 <div class="mb-3">
                  <h2 class="display-7 text-left mt-2 mb-2">Album:</h2>
                  <input type="text" class="form-control" name="txtTitulo", value="{{album.1}}">
                </div>
                 <div class="mb-3"> 
                  <h2 class="display-7 text-left mt-2 mb-2">Artista:</h2>
                  <input type="text" class="form-control" name="txtArtista", value="{{album.2}}">
                </div>
                 <div class="mb-3">
                  <h2 class="display-7 text-left mt-2 mb-2"> Año:</h2>
                  <input type="number" class="form-control" name="txtAnio", value="{{album.3}}">
                 </div>
                 <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn-success"> Actualizar <i class="bi bi-upload"></i> </button>
                 </div>
             </form>
        </div> <!--Card-->
    </div> <!--Columna 5-->
</div> <!--Contrainer-->

 </center>

{%endblock%}