
<br>
<br>    
<center> 
    
    
<h1>Gestion de Albums</h1> 
<br>
<form action="/guardar" method="POST">
    <input type="text" name="txtTitulo" placeholder="Escribe titulo: ">
    <input type="text" name="txtArtista" placeholder="Escribe Artista: ">
    <input type="number" name="txtAnio" placeholder="Escribe Año: ">


    <button type="submit">Guardar</button>

</form>
</center>
<br>
<br>
<h2>Registros Almacenados</h2>
<br>
<table>
        <thead></thead>
        <tr>
           <td>ID:</td>
           <td>Nombre:</td>
           <td>Artista:</td>
           <td>Año de publicación:</td> 
        </tr>
        <tbody>
            {% for album in listAlbums %}
                <tr>
                    <td>{{ album.0 }}</td>
                    <td>{{ album.1 }}</td>
                    <td>{{ album.2 }}</td>
                    <td>{{ album.3 }}</td>
                    <td><a href="/editar/{{ album.0 }}">Editar</a></td>
                    <td><a href="/eliminar/{{ album.id }}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
</table>
